@model IEnumerable<ModuloFacturacion.Models.DetalleFactura>
<h4>Detalle factura</h4>
<br />

<table border="1" align="center">
    <tr>
        <td>Cliente:</td>
        <td colspan="2">Omar Castro</td>
    </tr>
    <tr>
        <td>Telefono:</td>
        <td colspan="2">2121212</td>
    </tr>
    <tr>
        <td>Fecha Nacimiento:</td>
        <td colspan="2">19/01/1990</td>
    </tr>
    <tr>
        <td>Fecha Factura:</td>
        <td colspan="2">6/5/2020</td>
    </tr>
    <tr>
        <td>Servicio:</td>
        <td>PELUQUEADA</td>
        <td>@string.Format("{0:C}",10200)</td>
    </tr>
    <tr>
        <td colspan="3">
            <br />
        </td>
    </tr>
    <tr>
        <td colspan="3" align="center">
            <button value="Volver">Volver</button>
        </td>
    </tr>
</table>