@model IEnumerable<ModuloFacturacion.Models.DetalleFactura>
<h4>Detalle factura</h4>
<br />

<table border="1" align="center">
    <tr>
        <td>Cliente:</td>
        <td colspan="2">Omar Castro</tdcolspan="3">
    </tr>
    <tr>
        <td>Telefono:</td>
        <td colspan="2">2121212</td>
    </tr>
    <tr>
        <td>Fecha Nacimiento:</td>
        <td colspan="2">1990-01-19</td>
    </tr>
    <tr>
        <td>Fecha Factura:</td>
        <td colspan="2">2020-06-05</td>
    </tr>
    <tr>
        <td>Servicio:</td>
        <td>PELUQUEADA</td>
        <td>10200</td>
    </tr>
    <tr>
        <td colspan="3">
            <br />
        </td>
    </tr>
    <tr>
        <td colspan="3" align="center">
            <button value="Volver">Volver</button>
        </td>
    </tr>
</table>